.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;

  @media @mobile {
    justify-content: space-around;
  }

  .skill-wrapper {
    width: 13%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 1000px) {
      margin-bottom: 10px;
      width: 18%;
    }

    @media @tablet {
      margin-bottom: 10px;
      width: 20%;
    }

    @media @mobile {
      margin-bottom: 10px;
      width: 25%;
    }

    .skill-icon {
      width: 61px;
      height: auto;
      padding-bottom: 10px;

      @media @mobile {
        width: 40px;
        padding-bottom: 4px;
      }

      &.mongo-icon {
        width: 125px;
        margin-top: 16.56px;
        margin-bottom: 16.56px;
        @media @mobile {
          width: 100px;
        }
      }
    }

    p {
      font-size: 1.2rem;

      @media @tablet {
        font-size: 1rem;
      }
    }

    span {
      font-size: 0.8rem;
      letter-spacing: 3px;
    }
  }
}
