<div id="about-section" class="section" data-anchor="about">
    <div class="container">
        <div class="jumbotron"  >
            <h1 class="display-3">About</h1>
            <p class="lead">A little about me...</p>
            <hr class="my-2">
        </div>
        <div class="content">
            <img class="profile-photo" src="../img/fabricio-bezerra.jpg" alt="">
            <div class="text-container">
                <p>Based in Las Vegas, I'm currently a Full Stack Wev Dev Student at Lambda School.</p>
                <p>I'm self starter and highly motivated to learn new technologies.</p>
                <p>I started working as a programmer more than 10 years ago. After that, I changed careers and worked exclusively with music for a while.</p>
                <p>I restarted coding and learning new technologies in 2019.</p>
                <p>Besides coding, I love my family, music, traveling and playing tennis.</p>
            </div>
        </div>
    </div>
</div>