<section id="about-section" class="section" data-anchor="about">
    <div class="container">
        <div class="section-header">
            <h2 class="title">About</h2>
            <p class="subtitle">A little about me...</p>
            <hr class="">
        </div>
        <div class="content">
            <img class="profile-photo" src="../img/fabricio-bezerra.jpg" alt="Fabricio Bezerra pro">
            <div class="text-container">
                <p>Brazilian based in Las Vegas, I started working as a developer in 2007.</p>
                <p>After that I changed careers and worked exclusively with music for a few years.</p>
                <p>I restarted coding and learning new technologies in 2019 and in 2020 I joined Lambda School.</p>
                <p>I'm a strong problem solver, self-starter and always very motivated to learn.</p>
            </div>
        </div>
    </div>
</section>