<section id="credit-section" class="section">
    <p class="title">Developed by</p>
    <p class="credit">© <span id="year"></span> Fabricio Bezerra</p>
    <p class="rights">All Rights Reserved</p>
</section>