<div id="home-section" class="section" data-anchor="home">
    <%- include("navbar") %> 
    <div class="content">
        <div class="svg-wrapper">
            <svg class="border-svg" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" />
                <div class="text">
                    <h1 class="title">Fabricio Bezerra</h1>
                    <h2 class="subtitle">Web Developer</h2>
                </div>
            </svg>
        </div>
    </div>
</div>