<section id="skills-section" class="section" data-anchor="skills">
  <div class="owl-carousel owl-skills owl-theme">
    <!-- First slide -->
    <div class="item skills-item">
      <div class="container">
        <div class="section-header">
          <h2 class="title">Coding Skills</h2>
          <p class="subtitle">Learning something new everyday!</p>
          <hr />
        </div>
        <div class="skills-list">
          <div class="skill-wrapper">
            <img
              class="skill-icon"
              src="../img/icons/html5.png"
              alt="HTML icon"
            />
            <p>HTML</p>
          </div>
          <div class="skill-wrapper">
            <img
              class="skill-icon"
              src="../img/icons/javascript.png"
              alt="Javascript Icon"
            />
            <p>Javascript</p>
          </div>
          <div class="skill-wrapper">
            <img
              class="skill-icon"
              src="../img/icons/python.png"
              alt="Python Icon"
            />
            <p>Python</p>
          </div>
          <div class="skill-wrapper">
            <img class="skill-icon" src="../img/icons/css.png" alt="CSS Icon" />
            <p>CSS</p>
          </div>
          <div class="skill-wrapper">
            <img
              class="skill-icon"
              src="../img/icons/sass.png"
              alt="SASS icon"
            />
            <p>SASS/LESS</p>
          </div>
          <div class="skill-wrapper">
            <img
              class="skill-icon"
              src="../img/icons/nodejs.png"
              alt="Node icon"
            />
            <p>Node.js</p>
          </div>
          <div class="skill-wrapper">
            <img
              class="skill-icon"
              src="../img/icons/github.png"
              alt="GitHub icon"
            />
            <p>GitHub</p>
          </div>
          <div class="skill-wrapper">
            <img
              class="skill-icon"
              src="../img/icons/react.png"
              alt="React icon"
            />
            <p>React</p>
          </div>
          <div class="skill-wrapper">
            <img
              class="skill-icon"
              src="../img/icons/redux.png"
              alt="Redux icon"
            />
            <p>Redux</p>
          </div>
          <div class="skill-wrapper">
            <img
              class="skill-icon"
              src="../img/icons/graphql.png"
              alt="GraphQL icon"
            />
            <p>GraphQL</p>
          </div>
          <div class="skill-wrapper">
            <img class="skill-icon" src="../img/icons/sql.png" alt="SQL icon" />
            <p>SQL</p>
          </div>
          <div class="skill-wrapper">
            <img
              class="skill-icon mongo-icon"
              src="../img/icons/mongodb.png"
              alt="MongoDB"
            />
            <p>MongoDB</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Second slide -->
    <div class="item">
      <div class="container">
        <div class="section-header">
          <h2 class="title"><span>Communication</span> Skills</h2>
          <hr />
        </div>
        <div class="skills-list">
          <div class="skill-wrapper">
            <img
              class="skill-icon"
              src="../img/icons/english.png"
              alt="USA flag"
            />
            <p>English</p>
            <span>Fluent</span>
          </div>
          <div class="skill-wrapper">
            <img
              class="skill-icon"
              src="../img/icons/portuguese.png"
              alt="Brazil flag"
            />
            <p>Portuguese</p>
            <span>Native</span>
          </div>
          <div class="skill-wrapper">
            <img
              class="skill-icon"
              src="../img/icons/spanish.png"
              alt="Spain flag"
            />
            <p>Spanish</p>
            <span>Basic</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
