<div id="skills-section" class="section" data-anchor="skills">
    <div class="owl-carousel owl-skills owl-theme">
        <!-- First slide -->
        <div class="item">
            <div class="container">
                <div class="section-header">
                    <h2 class="title">Coding Skills</h2>
                    <p class="subtitle">Learning something new everyday!</p>
                    <hr>
                </div>  
                <div class="skills-list">
                    <div class="skill-wrapper" >
                        <img class="skill-icon" src="../img/icons/html5.png" alt="">
                        <p>HTML</p>
                    </div>
                    <div class="skill-wrapper" >
                        <img class="skill-icon" src="../img/icons/javascript.png" alt="">
                        <p>Javascript</p>
                    </div>
                    <div class="skill-wrapper" >
                        <img class="skill-icon" src="../img/icons/css.png" alt="">
                        <p>CSS</p>
                    </div>   
                    <div class="skill-wrapper" >
                        <img class="skill-icon" src="../img/icons/sass.png" alt="">
                        <p>SASS/LESS</p>
                    </div>           
                    <div class="skill-wrapper" >
                        <img class="skill-icon" src="../img/icons/nodejs.png" alt="">
                        <p>Node.js</p>
                    </div>
                    <div class="skill-wrapper" >
                        <img class="skill-icon" src="../img/icons/github.png" alt="">
                        <p>GitHub</p>
                    </div>
                    <div class="skill-wrapper" >
                        <img class="skill-icon" src="../img/icons/react.png" alt="">
                        <p>React</p>
                    </div>
                    <div class="skill-wrapper" >
                        <img class="skill-icon" src="../img/icons/mysql.png" alt="">
                        <p>SQL</p>
                    </div>
                    <div class="skill-wrapper" >
                        <img class="skill-icon mongo-icon" src="../img/icons/mongodb.png" alt="">
                        <p>MongoDB</p>
                    </div>
                </div> 
            </div>
        </div>
        <!-- Second slide -->
        <div class="item">
            <div class="container">
                <div class="section-header">
                    <h2 class="title"><span>Communication</span> Skills</h2>
                    <hr>
                </div>  
                <div class="skills-list">
                    <div class="skill-wrapper" >
                        <img class="skill-icon" src="../img/icons/english.png" alt="">
                        <h3>English</h3><span>Fluent</span>
                    </div>
                    <div class="skill-wrapper" >
                        <img class="skill-icon" src="../img/icons/portuguese.png" alt="">
                        <h3>Portuguese</h3><span>Native</span>
                    </div>   
                    <div class="skill-wrapper" >
                        <img class="skill-icon" src="../img/icons/spanish.png" alt="">
                        <h3>Spanish</h3><span>Basic</span>
                    </div>           
                </div>  
            </div>   
        </div>

    </div>
</div>