<section id="work-section" class="section" data-anchor="work">
  <div class="container">
    <div class="section-header">
      <h2 class="title">Recent Work</h2>
      <p class="subtitle">Some of my recent projects</p>
      <hr />
    </div>
  </div>
  <div class="owl-carousel work-carousel owl-theme">
    <!-- slide -->
    <div class="item container">
      <div class="work-description">
        <h4 class="work-title">SoMe</h4>
        <p>
          Built in a cross-functional team, this application helps users
          streamline and optimize their social media presence on Twitter.
        </p>
        <div class="technologies">
          <div class="frontend">
            <p>- Frontend:</p>
            <ul>
              <li>React</li>
              <li>Redux</li>
              <li>Material-UI</li>
            </ul>
          </div>
          <div class="backend">
            <p>- Backend:</p>
            <ul>
              <li>Express</li>
              <li>Node.js</li>
              <li>Postgres</li>
              <li>Knex</li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="work-img"
        style="background-image: url(../img/work/some.png)"
      ></div>
      <div class="links-container">
        <a
          href="https://so-me.netlify.app/"
          target="_blank"
          class="work-link primary-btn"
          >WEBSITE</a
        >
        <a
          href="https://github.com/some-labs-24"
          target="_blank"
          class="work-link primary-btn"
          >GITHUB</a
        >
      </div>
    </div>
    <!-- slide -->
    <div class="item container">
      <div class="work-description">
        <h4 class="work-title">COVID News</h4>
        <p>
          Website fetches data from two API's and provides news and information
          about the Covid-19. It also includes a map with data from the covid
          API.
        </p>
        <ul>
          <li>React</li>
          <li>Redux</li>
          <li>Material-UI</li>
        </ul>
      </div>
      <div
        class="work-img"
        style="background-image: url(../img/work/covid-news.png)"
      ></div>
      <div class="links-container">
        <a
          href="https://covid-news.herokuapp.com"
          target="_blank"
          class="work-link primary-btn"
          >WEBSITE</a
        >
        <a
          href="https://github.com/fbzr/Covid-News/"
          target="_blank"
          class="work-link primary-btn"
          >GITHUB</a
        >
      </div>
    </div>
    <!-- slide -->
    <div class="item container">
      <div class="work-description">
        <h4 class="work-title">Sauti Marketplace</h4>
        <p>
          Full stack MERN application. Website allows user to see/edit/add
          product prices and listings of products.
        </p>
        <div class="technologies">
          <div class="frontend">
            <p>- Frontend:</p>
            <ul>
              <li>React</li>
              <li>Material-UI</li>
              <li>Formik</li>
            </ul>
          </div>
          <div class="backend">
            <p>- Backend:</p>
            <ul>
              <li>Express</li>
              <li>Node.js</li>
              <li>MongoDB (Atlas)</li>
              <li>mongoose</li>
              <li>JSON Web Token</li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="work-img"
        style="background-image: url(../img/work/sauti-market_edited.gif)"
      ></div>
      <div class="links-container">
        <a
          href="https://sauti-market.herokuapp.com"
          target="_blank"
          class="work-link primary-btn"
          >WEBSITE</a
        >
        <a
          href="https://github.com/fbzr/Sauti-Marketplace-MERN/"
          target="_blank"
          class="work-link primary-btn"
          >GITHUB</a
        >
      </div>
    </div>
    <!-- slide -->
    <div class="item container">
      <div class="work-description">
        <h4 class="work-title">Fitness Anywhere</h4>
        <p>
          Application helps people find fitness classes and it allows fitness
          instructors post and advertise their classes.
        </p>
        <ul>
          <li>React</li>
          <li>Redux</li>
          <li>Node.js</li>
          <li>JSON Web Token</li>
          <li>BcryptJS</li>
          <li>Knex</li>
          <li>PostgreSQL</li>
          <li>Stripe</li>
        </ul>
      </div>
      <div
        class="work-img"
        style="background-image: url(../img/work/fitness-anywhere.png)"
      ></div>
      <div class="links-container">
        <a
          href="https://fitness-anywhere.herokuapp.com/"
          target="_blank"
          class="work-link primary-btn"
          >WEBSITE</a
        >
        <a
          href="https://github.com/Fitness-Anywhere/App"
          target="_blank"
          class="work-link primary-btn"
          >GITHUB</a
        >
      </div>
    </div>
    <!-- slide -->
    <div class="item container">
      <div class="work-description">
        <h4 class="work-title">Commercial Cannabis</h4>
        <p>
          Static website created for a client using Gatsby and Netlify CMS for
          admin area and content management.
        </p>
        <ul>
          <li>Gatsby</li>
          <li>React</li>
          <li>Netlify CMS</li>
          <li>Netlify Forms</li>
          <li>Ant Design</li>
        </ul>
      </div>
      <div
        class="work-img"
        style="background-image: url(../img/work/commercial-cannabis.png)"
      ></div>
      <div class="links-container">
        <a
          href="https://commercialcannabisinc.com/"
          target="_blank"
          class="work-link primary-btn"
          >WEBSITE</a
        >
        <a
          href="https://github.com/fbzr/commercial-cannabis"
          target="_blank"
          class="work-link primary-btn"
          >GITHUB</a
        >
      </div>
    </div>
    <!-- slide -->
    <div class="item container">
      <div class="work-description">
        <h4 class="work-title">Pet Adopt</h4>
        <p>
          Application displays data of animals for adoption from the PetFinder
          API.
        </p>
        <p>
          This website is my first project using Angular Framework and it is
          currently a work in progress with the purpose of learning the
          technology.
        </p>
        <ul>
          <li>Angular</li>
          <li>Typescript</li>
          <li>Sass</li>
        </ul>
      </div>
      <div
        class="work-img"
        style="background-image: url(../../img/work/petadopt.png)"
      ></div>
      <div class="links-container">
        <a
          href="https://petadopt.netlify.app/"
          target="_blank"
          class="work-link primary-btn"
          >WEBSITE</a
        >
        <a
          href="https://github.com/fbzr/petadopt"
          target="_blank"
          class="work-link primary-btn"
          >GITHUB</a
        >
      </div>
    </div>
  </div>
</section>
