<section id="work-section" class="section" data-anchor="work">
    <div class="container">
        <div class="jumbotron"  >
            <h1 class="display-3">Recent Work</h1>
            <p class="lead">Some of my recent projects<br><span>(Created for learning purpose)</span></p>
            <hr class="my-2">
        </div>
    </div>
    <div class="owl-carousel work-carousel owl-theme">
        <!-- slide -->
        <div class="item container">
            <div class="work-description">
                <h4>Nasa - APOD</h4>                
                <p>Astronomy Picture Of The Day shows a new photo or video every day.</p>
                <p>The website fetches data from the NASA API and shows the name, date and description of the photo and allows the user to select a specific date</p>
                <p>Some of the technologies used for development:</p>
                <ul>
                    <li>React</li>
                    <li>Axios</li>
                    <li>LESS</li>
                    <li>Styled Components Library</li>
                </ul>
            </div>
            <div class="work-img" style="background-image:url(../../img/work/apod.png);" ></div>
            <a href="https://astronomy-picture-of-the-day.herokuapp.com/" target="_blank" class="work-link primary-btn">GO TO WEBSITE</a>
        </div>
        <!-- slide -->
        <div class="item container">
            <div class="work-description">
                <h4>Horizon Entertainment</h4>                
                <p>Website provides information about Hotels and attractions in Las Vegas.</p>
                <p>Some of the technologies used to develop this Node.js application:</p>
                <ul>
                    <li>Express & Body-Parser</li>
                    <li>EJS Templating </li>
                    <li>MongoDB</li>
                    <li>Passport OAuth 2.0 API</li>
                    <li>Google APIs (Geocoding and Maps Javascript)</li>
                </ul>
            </div>
            <div class="work-img" style="background-image:url(../img/work/horizon.png);" ></div>
            <a href="http://horizonlasvegas.herokuapp.com" target="_blank" class="work-link primary-btn">GO TO WEBSITE</a>
        </div>
        <!-- slide -->
        <div class="item container">
            <div class="work-description">
                <h4>React Wars</h4>                
                <p>This website fetches data from the Star Wars API and shows the characters's informations to the user.</p>
                <p>The website was developed with:</p>
                <ul>
                    <li>React</li>
                    <li>Axios</li>
                    <li>Styled Components Library</li>
                </ul>
            </div>
            <div class="work-img" style="background-image:url(../../img/work/react-wars.png);" ></div>
            <a href="https://starwars-profiles.herokuapp.com/" target="_blank" class="work-link primary-btn">GO TO WEBSITE</a>
        </div>
        <!-- slide -->
        <div class="item container">
            <div class="work-description">
                <h4>Symphinity</h4>                
                <p>Symphonity was my first Build Week project at Lambda School.</p>
                <p>My task was to create a landing page from a figma design file and an about page following that design.</p>
                <p>Some of the technologies used for development:</p>
                <ul>
                    <li>HTML</li>
                    <li>LESS</li>
                    <li>AOS Library</li>
                </ul>
            </div>
            <div class="work-img" style="background-image:url(../../img/work/symphinity.png);" ></div>
            <a href="http://symphinity-songsuggester.netlify.com/" target="_blank" class="work-link primary-btn">GO TO WEBSITE</a>
        </div>
    </div>
</section>