<section id="work-section" class="section" data-anchor="work">
    <div class="container">
        <div class="section-header">
            <h2 class="title">Recent Work</h2>
            <p class="subtitle">Some of my recent projects<br><span>(Created for learning purpose)</span></p>
            <hr>
        </div>
    </div>
    <div class="owl-carousel work-carousel owl-theme">
        <!-- slide -->
        <div class="item container">
            <div class="work-description">
                <h4 class="work-title">COVID News</h4>                
                <p>Website fetches data from two API's and provides news and information about the Covid-19. It also includes a map with data from the covid API.</p>
                <p>Some of the technologies used to develop this application:</p>
                <ul>
                    <li>React</li>
                    <li>Redux</li>
                    <li>Axios</li>
                    <li>Material-UI</li>
                </ul>
            </div>
            <div class="work-img" style="background-image:url(../img/work/covid-news.png);" ></div>
            <a href="https://covid-news.herokuapp.com" target="_blank" class="work-link primary-btn">GO TO WEBSITE</a>
        </div>
        <!-- slide -->
        <div class="item container">
            <div class="work-description">
                <h4 class="work-title">Sauti Marketplace</h4>                
                <p>Full stack MERN application. Website allows user to see/edit/add product prices and listings of products.</p>
                <p>Some of the technologies and libraries I used to develop this application:</p>
                <div class="technologies">
                    <div class="frontend">
                        <p>- Frontend:</p>
                        <ul>
                            <li>React</li>
                            <li>Axios</li>
                            <li>Material-UI</li>
                            <li>Formik</li>
                        </ul>
                    </div>
                    <div class="backend">
                        <p>- Backend:</p>
                        <ul>
                            <li>Express</li>
                            <li>Node.js</li>
                            <li>MongoDB (Atlas)</li>
                            <li>mongoose</li>
                            <li>JSON Web Tokens</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="work-img" style="background-image:url(../img/work/sauti-market_edited.gif);" ></div>
            <a href="https://sauti-market.herokuapp.com" target="_blank" class="work-link primary-btn">GO TO WEBSITE</a>
        </div>
        <!-- slide -->
        <div class="item container">
            <div class="work-description">
                <h4 class="work-title">Nasa - APOD</h4>                
                <p>Astronomy Picture Of The Day shows a new photo or video every day.</p>
                <p>The website fetches data from the NASA API and shows the name, date and description of the photo/video.</p>
                <p>Some of the technologies used for development:</p>
                <ul>
                    <li>React</li>
                    <li>Axios</li>
                    <li>LESS</li>
                    <li>Styled Components Library</li>
                </ul>
            </div>
            <div class="work-img" style="background-image:url(../../img/work/apod.png);" ></div>
            <a href="https://astronomy-picture-of-the-day.herokuapp.com/" target="_blank" class="work-link primary-btn">GO TO WEBSITE</a>
        </div>
        <!-- slide -->
        <div class="item container">
            <div class="work-description">
                <h4 class="work-title">Symphinity</h4>                
                <p>Symphonity was my first Build Week project at Lambda School.</p>
                <p>My task was to create a landing page from a figma design file and an about page following that design.</p>
                <p>Some of the technologies used for development:</p>
                <ul>
                    <li>HTML</li>
                    <li>LESS</li>
                    <li>AOS Library</li>
                </ul>
            </div>
            <div class="work-img" style="background-image:url(../../img/work/symphinity.png);" ></div>
            <a href="http://symphinity-songsuggester.netlify.com/" target="_blank" class="work-link primary-btn">GO TO WEBSITE</a>
        </div>
    </div>
</section>