// * {
//     max-width: 100%;
// }

body {
    font-size: 62.5%;
}

.section {
    height: 100vh;

    .section-header {
        margin-bottom: 1.5rem;
        .section-subtitle {
            font-size: 1.25rem;
            letter-spacing: 1.5px;
        
            @media @mobile {
                font-size: 1rem;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 3.5rem;
}

p {
    font-size: 1rem;
}

hr {
    margin: .5rem 0;
}



.grecaptcha-badge {
    visibility: hidden;
}

.primary-btn {
    padding: 10px 40px;
    border-style: solid;
    border-width: 3px;
    border-color: #c2c2c2 !important;
    background-color: transparent !important;
    color: #242c34 !important;
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none !important;
    min-width: 150px;
  
    transition-property: color, background-color;
    transition-duration: 200ms, 200ms;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;

    &:hover {
        background-color: #c2c2c2 !important;
        color: #fff !important;
    }
}