body {
    overflow-x: hidden; 
    color: #212529;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    font-family: 'Roboto', sans-serif;
}





/* Fullpage.js */
#fp-nav ul li .fp-tooltip {
    color: #212529;
    letter-spacing: 3px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #212529; 
}


/* ////// */

.skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.skill-wrapper {
    flex-basis: 20%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-icon {
    width: 80px !important;
    height: auto;
    padding-bottom: 10px;
}
.skill-icon.mongo-icon {
    width: 125px;
}
.skill-wrapper p {
    font-size: 1.2rem;
}
.skill-wrapper span {
    font-size: .8rem;
    letter-spacing: 3px;
}



#credit-section {
    text-align: center;    
}


@media screen and (min-width: 1200px) {
    #contact-section .contact-form p {
        letter-spacing: 5px;
    }
}
@media screen and (max-width: 1199px) {
    #contact-section .contact-form p {
        letter-spacing: 3px;
    }
}
@media screen and (max-width: 991px) {
    #contact-section .contact-form p {
        letter-spacing: 1px;
    }
}
@media screen and (max-width: 767px) {
    #contact-section .contact-form p {
        letter-spacing: 5px;
    }
    .col-md-4.order-2.order-md-1  {
        text-align: center;
    }
    .primary-btn {
        margin: auto;
    }
    .nav-item {
        margin: 10px 15px;
    }
}


@media (min-width: 576px) {
    .jumbotron {
        padding: 0;
    }
}

@media screen and (max-width: 992px) {
    .skill-wrapper {
        padding: 10px 15px; 
    }
}

@media screen and (max-width: 466px){
    .jumbotron .display-3 {
        font-size: 3.5rem;
    }
    .jumbotron .lead {
        font-size: 1rem;
    }
    #skills-section .jumbotron .display-3 {
        font-size: 3rem;
    }
    #skills-section .display-3 span {
        font-size: 2.3rem !important;
    }

    #skills-section .skills-list p {
        margin-bottom: 0.3rem;
    }
    
    .skill-wrapper {
        padding: 7px 25px;
    }
    .skill-wrapper p {
        font-size: 1rem;
    }
    .skill-wrapper h3 {
        font-size: 1.3rem;
    }
    .skill-icon {
       width: 60px !important; 
    }
    .primary-btn {
        padding: 10px 10px;
    }
    #credit-section h4 {
        font-size: 1.2rem;
    }
    #credit-section h2 {
        font-size: 1.5rem;
    }
    #credit-section p {
        font-size: .8rem;
    }

    .nav-item {
        margin: 10px 7px;
        letter-spacing: 0;
    }
}
@media screen and (max-width: 374px) {
    #contact-section .contact-form p {
        letter-spacing: 2px;
    }
    .skill-wrapper {
        padding: 7px 10px; 
    }
}